body{
    text-align: center;
}
div{
    display: inline-block;
    height: 100px;
    width: 150px;
    border: 2px solid black;
    border-radius: 2px;
}
#container{
    width: 800px;
    height: 200px;
    color: white;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
   flex-wrap:wrap-reverse;
    align-items: center;
    align-content: center;
}
#box1{
    background-color: red;
    flex-shrink: 2;
}
#box2{
    background-color: blue;
}
#box3{
    background-color: green;
}
#box4{
    background-color: yellow;
}